body {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  background-color: whitesmoke;
  background-image: url("https://images.pexels.com/photos/261628/pexels-photo-261628.jpeg?cs=srgb&dl=access-adult-blur-261628.jpg&fm=jpg")
}
main {
  overflow: auto;}
h1, h3, h2{ 
  text-align: center;
  padding: 5px;  
  margin-right:auto; 
  margin-left:auto;
  font-family: 'unique'; 
  font-weight: bold; 
  font-style: normal; }

nav, section, footer 
{margin: 4%;
  padding:0.5em;
  color: rgb(41, 8, 76);}

li {
  text-align: center;
  display: inline;
  padding: 0.5em;}
nav {
  
  font-family: Impact, Charcoal, 'CMUSerifRoman'; 
  text-align: center;
  background-color: #a4c1cd;
  padding: 0.5em 0;}
a {
  color: maroon;}
h1{
  background-color: pink;
  
}
img  {
  float: right;
}

iframe style {
  float:left;
}


#footer {
  clear: both;
}
footer {
  background-color: seashell;
  text-align: center;
  padding: 0.5em 0;}

section{margin-bottom: 1em;}

section {
  background-color: papayawhip;}
